<%- if logged_in? -%>
<div>
  <h2 id="players"><%= image_tag "player.png", "align" => "bottom" %>プレイヤー</h2>

  <%- if current_user.players.empty? -%>
    プレイヤーが登録されていません。
  <%- else -%>
    <table>
      <tr>
	<th>状態</th>
	<th>名前</th>
	<th>AIの行数</th>
	<th>成績</th>
      </tr>
	
      <%- current_user.players.each_with_index do |player, i| -%>
	<tr>
	  <td><%= player.enable? ? "☆" : "ー" %></td>
	  <td><%= link_to "#{player.name} (表示／編集)", player_path(player) %> </td>
	  <td><%=h player.num_ai_lines %></td>
	  <td><%= "#{player.num_wins}勝#{player.num_loses}敗#{player.num_draws}分" %></td>
	</tr>
      <%- end -%>
    </table>
  <%- end -%>
</div>

<%- enabled_players = current_user.players.select { |player| player.enable? } -%>
<div>
  <h2 id="game"><%= image_tag "game.png", "align" => "bottom" %>ゲーム</h2>

  <%- if enabled_players.empty? -%>
    <p>
      有効なプレイヤーがひとつもありません。最初にプレイヤーを有効にしてください。
    </p>
  <%- else -%>
    <%- form_tag new_game_path do -%>
      <table>
	<tr>
	  <th>プレイヤー</th>
	  <th>順番</th>
	  <th>盤のサイズ</th>
	  <th>制限時間</th>
	  <th></th>
	</tr>
	<tr>
	  <td>
	    <%- enabled_players.each_with_index do |player, i| -%>
	      <%- if i == 0 -%>
		<%= radio_button_tag("player_id", player.id, :checked => "checked") %><%=h player.name %>
	      <%- else -%>
		<%= radio_button_tag("player_id", player.id) %><%=h player.name %>
	      <%- end -%>
	      <br />
	    <%- end -%>
          </td>
	  <td>
	    <%= radio_button_tag("first_or_second", 0, :checked => "checked") %>先攻
	    <br />
	    <%= radio_button_tag("first_or_second", 1) %>後攻
	  </td>
	  <td>
	    <%= radio_button_tag("board_size", 0) %>8×8
	    <br />
	    <%= radio_button_tag("board_size", 1, :checked => "checked") %>16×16
	    <br />
	    <%= radio_button_tag("board_size", 2) %>32×32
	    <br />
	    <%= radio_button_tag("board_size", 3) %>64×64
	    <br />
	  </td>
	  <td>
	    <%= radio_button_tag("time", 0) %>1分
	    <br />
	    <%= radio_button_tag("time", 1) %>3分
	    <br />
	    <%= radio_button_tag("time", 2) %>5分
	    <br />
	    <%= radio_button_tag("time", 3, :checked => "checked") %>10分
	    <br />
	  </td>
	  <td>
	    <%= submit_tag "対戦相手を選ぶ" %>
	  </td>
	</tr>
      </table>
    <%- end -%>
  <%- end -%>
</div>
<%- else -%>
<%- form_tag session_path do -%>
<h2>プログラミングコンテストのアカウント</h2>
<table>
  <tr>
    <td class="right_align"><%= label_tag "login", "ユーザID" %></td>
    <td><%= text_field_tag "login", @login %></td>
  </tr>
  <tr>
    <td class="right_align"><%= label_tag "password", "パスワード" %></td>
    <td><%= password_field_tag "password", nil %></td>
  </tr>
  <tr>
    <td class="right_align"><%= check_box_tag 'remember_me', '1', @remember_me %></td>
    <td><%= label_tag 'remember_me', "ログイン状態を保持する" %></td>
  </tr>
  <%- if flash[:error] -%>
    <tr>
      <td class="center_align" colspan="2"><span class="error"><%= flash[:error] %></span></td>
    </tr>
  <%- end -%>
  <tr>
    <td class="center_align" colspan="2"><%= submit_tag "ログイン" %></td>
  </tr>
</table>

<p>
プログラミングコンテストに参加するには事前登録が必要です。また、開催日（2010/02/13 土曜日）に松江Ruby会議02の会場(島根県松江市)に来ていただく必要があります。参加いただける方（チームでも可能）は以下の情報を記述したメールを matsue02 _at_ rubykaigi.org までお送りください。アカウントを発行後、メールにてお返事いたします。
</p>

<pre>
宛先: matsue02 _at_ rubykaigi.org
件名: 松江Ruby会議02プログラミングコンテスト参加希望

氏名
メールアドレス
希望するユーザID
プログラミングコンテストの意気込み
</pre>
<%- end -%>

<%- end -%>
