<%- if logged_in? -%>
<div>
  <h2><%= image_tag "player.png", "align" => "bottom" %>プレイヤー</h2>
  <%- if current_user.players.empty? -%>
    プレイヤーが登録されていません。
  <%- else -%>
    <table>
      <tr>
	<th>状態</th>
	<th>名前</th>
	<th>AIの行数</th>
	<th>成績</th>
      </tr>
	
      <%- current_user.players.each_with_index do |player, i| -%>
	<tr>
	  <td><%= player.enable? ? "☆" : "ー" %></td>
	  <td><%= player.name %> (編集)</td>
	  <td><%= player.num_ai_lines %></td>
	  <td><%= player.num_wins %>勝／<%= player.num_loses %>敗</td>
	</tr>
      <%- end -%>
    </table>
  <%- end -%>
</div>

<div>
  <h2><%= image_tag "game.png", "align" => "bottom" %>ゲーム</h2>
</div>
<%- else -%>
<%- form_tag session_path do -%>
<h2>プログラミングコンテストのアカウント</h2>
<table>
  <tr>
    <td class="right_align"><%= label_tag "login", "ユーザID" %></td>
    <td><%= text_field_tag "login", @login %></td>
  </tr>
  <tr>
    <td class="right_align"><%= label_tag "password", "パスワード" %></td>
    <td><%= password_field_tag "password", nil %></td>
  </tr>
  <tr>
    <td class="right_align"><%= check_box_tag 'remember_me', '1', @remember_me %></td>
    <td><%= label_tag 'remember_me', "ログイン状態を保持する" %></td>
  </tr>
  <%- if flash[:error] -%>
    <tr>
      <td class="center_align" colspan="2"><span class="error"><%= flash[:error] %></span></td>
    </tr>
  <%- end -%>
  <tr>
    <td class="center_align" colspan="2"><%= submit_tag "ログイン" %></td>
  </tr>
</table>

<p>
プログラミングコンテストに参加するには事前登録が必要です。また、開催日（2010/02/13 土曜日）に松江Ruby会議02の会場(島根県松江市)に来ていただく必要があります。参加いただける方（チームでも可能）は以下の情報を記述したメールを matsue02 _at_ rubykaigi.org までお送りください。アカウントを発行後、メールにてお返事いたします。
</p>

<pre>
宛先: matsue02 _at_ rubykaigi.org
件名: 松江Ruby会議02プログラミングコンテスト参加希望

氏名
メールアドレス
希望するユーザID
プログラミングコンテストの意気込み
</pre>
<%- end -%>

<%- end -%>
