<p>
  <b>Time:</b>
  <%=h @game.time %>
</p>

<p>
  <b>Board width:</b>
  <%=h @game.board_width %>
</p>

<p>
  <b>Board height:</b>
  <%=h @game.board_height %>
</p>

<p>
  <b>First player:</b>
  <%=h @game.first_player_id %>
</p>

<p>
  <b>Second player:</b>
  <%=h @game.second_player_id %>
</p>

<p>
  <b>Begin at:</b>
  <%=h @game.begin_at %>
</p>


<p>
  <b>End at:</b>
  <%=h @game.end_at %>
</p>


<%= link_to 'Start', :action => :start, :id => @game %> |
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
