<p>
  <b>Game:</b>
  <%=h @board.game_id %>
</p>

<p>
  <b>Position:</b>
  <%=h @board.position %>
</p>

<p>
  <b>Pieces:</b>
  <%=h @board.pieces %>
</p>

<p>
  <b>Player:</b>
  <%=h @board.player_id %>
</p>

<p>
  <b>Player's context:</b>
  <%=h @board.players_context %>
</p>


<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
