<p>
  <b>状態:</b>
  <%= @player.enable? ? "有効" : "無効" %>
</p>

<p>
  <b>名前:</b>
  <%=h @player.name %>
</p>

<p>
  <b>AI:</b>
  <%= code(@player.ai) %>
</p>

<%= link_to '編集', edit_player_path(@player) %> |
<%= link_to '戻る', root_path %>
